*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    color: #555;
    /* letter-spacing: 0.025em; */
}

a{
  text-decoration: none; 
}

/* layout - styling */

.background {
  background : rgba(251, 251, 251, 1);
}

.container{
  padding-right: 0;
  padding-left: 0;
}
